In [5]:
import pandas as pd
import json

In [10]:
f = open('database.json','r')
s = f.read()
u = json.loads(s)
train = pd.DataFrame(u)

In [11]:
train.head()

  class     login                name password      role school
0        director  Мамонтов Александр   qwerty  director     30
1    7а  boscatov  Мамонтов Александр   qwerty     pupil     30
2    7а   kirasov    Виктория Буняева   qwerty     pupil     30
3    7б   matveev              Егорик   qwerty     pupil     30
4    7б    ivanov              егорик   qwerty     pupil     30

In [4]:
df = train[train['invite']!='q6qv9kcqxs']
df.head()

  class      invite            name     role school
0    5а  bf7jo06yi8            Леха   Ученик     30
2    3е  jfyi2b30v9  Уебок на Грише   Ученик     30
3    5ш  m5o9nxpjpo    Вича Буняева   Ученик     30
4    0ж   wsisztvil     Фрол Гандон   Ученик     30
5    11  pfqqlfnwsy      Фрол Уебок  Учитель     30

In [19]:
d = df.to_dict('records')
print(df.values.tolist())

[['5а', 'bf7jo06yi8', 'Леха', 'Ученик', '30'], ['5д', 'q6qv9kcqxs', 'Гуля', 'Ученик', '30'], ['3е', 'jfyi2b30v9', 'Уебок на Грише', 'Ученик', '30']]

In [20]:
print(d)

[{'role': 'Ученик', 'school': '30', 'class': '5а', 'name': 'Леха', 'invite': 'bf7jo06yi8'}, {'role': 'Ученик', 'school': '30', 'class': '5д', 'name': 'Гуля', 'invite': 'q6qv9kcqxs'}, {'role': 'Ученик', 'school': '30', 'class': '3е', 'name': 'Уебок на Грише', 'invite': 'jfyi2b30v9'}]