In [3]:
import pandas as pd
import json

In [14]:
f = open('waiting_list.json','r')
s = f.read()
u = json.loads(s)
train = pd.DataFrame(u)
train.reset_index(level=0, inplace=True)

TypeError: argument of type 'int' is not iterable

In [11]:
train.head()

  class      invite            name    role school
0    5а  bf7jo06yi8            Леха  Ученик     30
1    5д  q6qv9kcqxs            Гуля  Ученик     30
2    3е  jfyi2b30v9  Уебок на Грише  Ученик     30

In [12]:
df = train[train['school']=='30']
df.head()

  class      invite            name    role school
0    5а  bf7jo06yi8            Леха  Ученик     30
1    5д  q6qv9kcqxs            Гуля  Ученик     30
2    3е  jfyi2b30v9  Уебок на Грише  Ученик     30

In [19]:
d = df.to_dict('records')
print(df.values.tolist())

[['5а', 'bf7jo06yi8', 'Леха', 'Ученик', '30'], ['5д', 'q6qv9kcqxs', 'Гуля', 'Ученик', '30'], ['3е', 'jfyi2b30v9', 'Уебок на Грише', 'Ученик', '30']]

In [20]:
print(d)

[{'role': 'Ученик', 'school': '30', 'class': '5а', 'name': 'Леха', 'invite': 'bf7jo06yi8'}, {'role': 'Ученик', 'school': '30', 'class': '5д', 'name': 'Гуля', 'invite': 'q6qv9kcqxs'}, {'role': 'Ученик', 'school': '30', 'class': '3е', 'name': 'Уебок на Грише', 'invite': 'jfyi2b30v9'}]