In [2]:
import pandas as pd
import json

In [38]:
f = open(u'app\\static\\school\\30\\events\\director.json','r')
s = f.read()
f.close()

In [41]:
import os

In [45]:
path = u'app\\static\\school\\30\\class\\'
data = os.listdir(path=path)

In [46]:
data

['7а']

In [34]:
eve = json.loads(s)

In [35]:
eve = eve['events']

In [37]:
eve

[{'end': '2018-02-20T13:30:00.000Z',
  'filtr': 'Школа',
  'id': 1,
  'start': '2018-02-20T12:00:00.000Z',
  'title': 'Сас Лехи'},
 {'end': '2018-02-21T14:45:00.000Z',
  'filtr': 'Внеучебка',
  'id': 2,
  'start': '2018-02-21T14:00:00.000Z',
  'title': 'Митинг с Лехой'},
 {'body': '',
  'end': '2018-02-20T06:30:00.000Z',
  'filtr': 'Школа',
  'id': 3,
  'start': '2018-02-20T06:00:00.000Z',
  'title': 'Стрижка Лехи'},
 {'end': ' 2018-02-23T13:00:00.000Z"',
  'filtr': 'Внеучебка',
  'id': 4,
  'start': ' 2018-02-23T11:30:00.000Z"',
  'title': 'Завтрак с Лехой'},
 {'end': '2018-02-22T15:00:00.000Z',
  'filtr': 'Школа',
  'id': 5,
  'start': '2018-02-22T14:00:00.000Z',
  'title': 'Показ Лехи'},
 {'end': '2018-02-21T10:00:00.000Z',
  'filtr': 'Внеучебка',
  'id': 6,
  'readOnly': True,
  'start': '2018-02-21T09:00:00.000Z',
  'title': 'Леха для чтения'},
 {'body': '',
  'end': '2018-02-19T11:00:00.000Z',
  'filtr': 'Внеучебка',
  'id': 10,
  'start': '2018-02-19T10:30:00.000Z',
  'title': '23'},
 {'body': '',
  'end': '2018-02-19T12:30:00.000Z',
  'filtr': 'Школа',
  'id': 10,
  'start': '2018-02-19T12:00:00.000Z',
  'title': '123'},
 {'body': '',
  'end': ' 2018-02-19T09:45:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-19T09:15:00.000Z"',
  'title': 'sacasc'},
 {'body': '',
  'end': ' 2018-02-22T07:00:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-22T06:30:00.000Z"',
  'title': 'dirtest'},
 {'body': '',
  'end': ' 2018-02-22T07:30:00.000Z"',
  'filtr': 'Внеучебка',
  'id': 10,
  'start': ' 2018-02-22T07:15:00.000Z"',
  'title': 'dirtest2'},
 {'body': '',
  'end': ' 2018-02-22T08:00:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-22T07:30:00.000Z"',
  'title': 'dirtest3'},
 {'body': '',
  'end': ' 2018-02-22T08:45:00.000Z"',
  'filtr': 'Внеучебка',
  'id': 10,
  'start': ' 2018-02-22T08:15:00.000Z"',
  'title': 'dirtest4'},
 {'body': '',
  'end': ' 2018-02-22T09:15:00.000Z"',
  'filtr': 'Внеучебка',
  'id': 10,
  'start': ' 2018-02-22T08:45:00.000Z"',
  'title': 'dirtest5'},
 {'body': '',
  'end': ' 2018-02-22T09:45:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-22T09:15:00.000Z"',
  'title': 'dirtest6'},
 {'body': '',
  'end': ' 2018-02-22T10:15:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-22T09:45:00.000Z"',
  'title': 'dirtest7'},
 {'body': '',
  'end': ' 2018-02-22T10:45:00.000Z"',
  'filtr': 'Внеучебка',
  'id': 10,
  'start': ' 2018-02-22T10:15:00.000Z"',
  'title': 'dirtest8'},
 {'body': '',
  'end': ' 2018-02-22T11:15:00.000Z"',
  'filtr': 'Внеучебка',
  'id': 10,
  'start': ' 2018-02-22T10:45:00.000Z"',
  'title': 'dirtest9'},
 {'body': '',
  'end': ' 2018-02-22T12:00:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-22T11:30:00.000Z"',
  'title': 'dirtest10'},
 {'body': '',
  'end': ' 2018-02-22T12:45:00.000Z"',
  'filtr': 'Школа',
  'id': 10,
  'start': ' 2018-02-22T12:15:00.000Z"',
  'title': 'dirtest11'},
 {'body': '',
  'end': ' 2018-02-22T13:15:00.000Z"',
  'filtr': 'Пиздец',
  'id': 10,
  'start': ' 2018-02-22T12:45:00.000Z"',
  'title': 'dirtest12'}]

In [36]:
df = pd.DataFrame(eve,columns=['end','filtr','id','start','title'])

In [29]:
df = pd.concat([df[df.filtr == 'klrmle'],df[df.filtr == 'ergerg']])

In [31]:
df.to_dict('records')

[]

In [183]:
f = open('database.json','r')
s = f.read()
u = json.loads(s)
train = pd.DataFrame(u)

In [184]:
df = pd.read_csv('example.csv')

In [3]:
path =  u'app\\static\\school\\30\\events\\director.json'
f = open(path,'r')
s = f.read()
f.close()
u = json.loads(s)
u = u['events']
df = pd.DataFrame(u)

In [4]:
df.head()

,body,end,filtr,id,readOnly,start,title
0,NaN,2018-02-20T13:30:00.000Z,РЁРєРѕР»Р°,1,NaN,2018-02-20T12:00:00.000Z,РЎР°СЃ Р›РµС…Рё
1,NaN,2018-02-21T14:45:00.000Z,Р’РЅРµСѓС‡РµР±РєР°,2,NaN,2018-02-21T14:00:00.000Z,РњРёС‚РёРЅРі СЃ Р›РµС…РѕР№
2,,2018-02-20T06:30:00.000Z,РЁРєРѕР»Р°,3,NaN,2018-02-20T06:00:00.000Z,РЎС‚СЂРёР¶РєР° Р›РµС…Рё
3,NaN,"2018-02-23T13:00:00.000Z""",Р’РЅРµСѓС‡РµР±РєР°,4,NaN,"2018-02-23T11:30:00.000Z""",Р—Р°РІС‚СЂР°Рє СЃ Р›РµС…РѕР№
4,NaN,2018-02-22T15:00:00.000Z,РЁРєРѕР»Р°,5,NaN,2018-02-22T14:00:00.000Z,РџРѕРєР°Р· Р›РµС…Рё

In [185]:
df.head()

Empty DataFrame
Columns: [pup, 01.09.2017, 02.09.2017, 03.09.2017, 04.09.2017, 05.09.2017, 06.09.2017, 07.09.2017, 08.09.2017, 09.09.2017, 10.09.2017, 11.09.2017, 12.09.2017, 13.09.2017, 14.09.2017, 15.09.2017, 16.09.2017, 17.09.2017, 18.09.2017, 19.09.2017, 20.09.2017, 21.09.2017, 22.09.2017, 23.09.2017, 24.09.2017, 25.09.2017, 26.09.2017, 27.09.2017, 28.09.2017, 29.09.2017, 30.09.2017, 01.10.2017, 02.10.2017, 03.10.2017, 04.10.2017, 05.10.2017, 06.10.2017, 07.10.2017, 08.10.2017, 09.10.2017, 10.10.2017, 11.10.2017, 12.10.2017, 13.10.2017, 14.10.2017, 15.10.2017, 16.10.2017, 17.10.2017, 18.10.2017, 19.10.2017, 20.10.2017, 21.10.2017, 22.10.2017, 23.10.2017, 24.10.2017, 25.10.2017, 26.10.2017, 27.10.2017, 28.10.2017, 29.10.2017, 30.10.2017, 31.10.2017, 01.11.2017, 02.11.2017, 03.11.2017, 04.11.2017, 05.11.2017, 06.11.2017, 07.11.2017, 08.11.2017, 09.11.2017, 10.11.2017, 11.11.2017, 12.11.2017, 13.11.2017, 14.11.2017, 15.11.2017, 16.11.2017, 17.11.2017, 18.11.2017, 19.11.2017, 20.11.2017, 21.11.2017, 22.11.2017, 23.11.2017, 24.11.2017, 25.11.2017, 26.11.2017, 27.11.2017, 28.11.2017, 29.11.2017, 30.11.2017, 01.12.2017, 02.12.2017, 03.12.2017, 04.12.2017, 05.12.2017, 06.12.2017, 07.12.2017, 08.12.2017, ...]
Index: []

[0 rows x 274 columns]

In [186]:
cl = '7а'
school = '30'
subject = 'Русский язык'

In [187]:
base = train[train['school']==school]

In [188]:
base = base[base['class']==cl]

In [189]:
base.head()

  class     login                name password   role school
1    7а  boscatov  Мамонтов Александр   qwerty  pupil     30
2    7а   kirasov    Виктория Буняева   qwerty  pupil     30

In [190]:
s = df.columns
df.loc[len(df)] = s

In [191]:
for i in range(len(base)):
    arr = []
    arr.append(base.iloc[i]['name'])
    for i in range(len(df.columns)-1):
        arr.append(' ')
    df.loc[len(df)] = arr

In [192]:
df.head()

,pup,01.09.2017,02.09.2017,03.09.2017,04.09.2017,05.09.2017,06.09.2017,07.09.2017,08.09.2017,09.09.2017,...,22.05.2018,23.05.2018,24.05.2018,25.05.2018,26.05.2018,27.05.2018,28.05.2018,29.05.2018,30.05.2018,31.05.2018
0,pup,01.09.2017,02.09.2017,03.09.2017,04.09.2017,05.09.2017,06.09.2017,07.09.2017,08.09.2017,09.09.2017,...,22.05.2018,23.05.2018,24.05.2018,25.05.2018,26.05.2018,27.05.2018,28.05.2018,29.05.2018,30.05.2018,31.05.2018
1,Мамонтов Александр,,,,,,,,,,...,,,,,,,,,,
2,Виктория Буняева,,,,,,,,,,...,,,,,,,,,,

In [200]:
df.iloc[int('1')]['01.09.2017'] = '5.com.Бегал по потолку'

In [194]:
path = u'app\\static\\school\\'+school+'\\'+cl+'\\'+subject+'.csv'

In [195]:
df.to_csv(path, index_label=False,index=False,encoding='utf-8')

In [196]:
aa = pd.read_csv(path,encoding = "utf-8")

In [197]:
aa.head()

,pup,01.09.2017,02.09.2017,03.09.2017,04.09.2017,05.09.2017,06.09.2017,07.09.2017,08.09.2017,09.09.2017,...,22.05.2018,23.05.2018,24.05.2018,25.05.2018,26.05.2018,27.05.2018,28.05.2018,29.05.2018,30.05.2018,31.05.2018
0,pup,01.09.2017,02.09.2017,03.09.2017,04.09.2017,05.09.2017,06.09.2017,07.09.2017,08.09.2017,09.09.2017,...,22.05.2018,23.05.2018,24.05.2018,25.05.2018,26.05.2018,27.05.2018,28.05.2018,29.05.2018,30.05.2018,31.05.2018
1,Мамонтов Александр,5$com$Бегал по потолку,,,,,,,,,...,,,,,,,,,,
2,Виктория Буняева,,,,,,,,,,...,,,,,,,,,,

In [176]:
train.head()

  class     login                name password      role school
0        director  Мамонтов Александр   qwerty  director     30
1    7а  boscatov  Мамонтов Александр   qwerty     pupil     30
2    7а   kirasov    Виктория Буняева   qwerty     pupil     30
3    7б    ivanov              егорик   qwerty     pupil     30
4    8а   sergeev  Мамонтов Александр   qwerty     pupil     30

In [177]:
arr = aa.to_dict('records')

In [178]:
arr

[{'01.01.2018': '01.01.2018',
  '01.02.2018': '01.02.2018',
  '01.03.2018': '01.03.2018',
  '01.04.2018': '01.04.2018',
  '01.05.2018': '01.05.2018',
  '01.09.2017': '01.09.2017',
  '01.10.2017': '01.10.2017',
  '01.11.2017': '01.11.2017',
  '01.12.2017': '01.12.2017',
  '02.01.2018': '02.01.2018',
  '02.02.2018': '02.02.2018',
  '02.03.2018': '02.03.2018',
  '02.04.2018': '02.04.2018',
  '02.05.2018': '02.05.2018',
  '02.09.2017': '02.09.2017',
  '02.10.2017': '02.10.2017',
  '02.11.2017': '02.11.2017',
  '02.12.2017': '02.12.2017',
  '03.01.2018': '03.01.2018',
  '03.02.2018': '03.02.2018',
  '03.03.2018': '03.03.2018',
  '03.04.2018': '03.04.2018',
  '03.05.2018': '03.05.2018',
  '03.09.2017': '03.09.2017',
  '03.10.2017': '03.10.2017',
  '03.11.2017': '03.11.2017',
  '03.12.2017': '03.12.2017',
  '04.01.2018': '04.01.2018',
  '04.02.2018': '04.02.2018',
  '04.03.2018': '04.03.2018',
  '04.04.2018': '04.04.2018',
  '04.05.2018': '04.05.2018',
  '04.09.2017': '04.09.2017',
  '04.10.2017': '04.10.2017',
  '04.11.2017': '04.11.2017',
  '04.12.2017': '04.12.2017',
  '05.01.2018': '05.01.2018',
  '05.02.2018': '05.02.2018',
  '05.03.2018': '05.03.2018',
  '05.04.2018': '05.04.2018',
  '05.05.2018': '05.05.2018',
  '05.09.2017': '05.09.2017',
  '05.10.2017': '05.10.2017',
  '05.11.2017': '05.11.2017',
  '05.12.2017': '05.12.2017',
  '06.01.2018': '06.01.2018',
  '06.02.2018': '06.02.2018',
  '06.03.2018': '06.03.2018',
  '06.04.2018': '06.04.2018',
  '06.05.2018': '06.05.2018',
  '06.09.2017': '06.09.2017',
  '06.10.2017': '06.10.2017',
  '06.11.2017': '06.11.2017',
  '06.12.2017': '06.12.2017',
  '07.01.2018': '07.01.2018',
  '07.02.2018': '07.02.2018',
  '07.03.2018': '07.03.2018',
  '07.04.2018': '07.04.2018',
  '07.05.2018': '07.05.2018',
  '07.09.2017': '07.09.2017',
  '07.10.2017': '07.10.2017',
  '07.11.2017': '07.11.2017',
  '07.12.2017': '07.12.2017',
  '08.01.2018': '08.01.2018',
  '08.02.2018': '08.02.2018',
  '08.03.2018': '08.03.2018',
  '08.04.2018': '08.04.2018',
  '08.05.2018': '08.05.2018',
  '08.09.2017': '08.09.2017',
  '08.10.2017': '08.10.2017',
  '08.11.2017': '08.11.2017',
  '08.12.2017': '08.12.2017',
  '09.01.2018': '09.01.2018',
  '09.02.2018': '09.02.2018',
  '09.03.2018': '09.03.2018',
  '09.04.2018': '09.04.2018',
  '09.05.2018': '09.05.2018',
  '09.09.2017': '09.09.2017',
  '09.10.2017': '09.10.2017',
  '09.11.2017': '09.11.2017',
  '09.12.2017': '09.12.2017',
  '10.01.2018': '10.01.2018',
  '10.02.2018': '10.02.2018',
  '10.03.2018': '10.03.2018',
  '10.04.2018': '10.04.2018',
  '10.05.2018': '10.05.2018',
  '10.09.2017': '10.09.2017',
  '10.10.2017': '10.10.2017',
  '10.11.2017': '10.11.2017',
  '10.12.2017': '10.12.2017',
  '11.01.2018': '11.01.2018',
  '11.02.2018': '11.02.2018',
  '11.03.2018': '11.03.2018',
  '11.04.2018': '11.04.2018',
  '11.05.2018': '11.05.2018',
  '11.09.2017': '11.09.2017',
  '11.10.2017': '11.10.2017',
  '11.11.2017': '11.11.2017',
  '11.12.2017': '11.12.2017',
  '12.01.2018': '12.01.2018',
  '12.02.2018': '12.02.2018',
  '12.03.2018': '12.03.2018',
  '12.04.2018': '12.04.2018',
  '12.05.2018': '12.05.2018',
  '12.09.2017': '12.09.2017',
  '12.10.2017': '12.10.2017',
  '12.11.2017': '12.11.2017',
  '12.12.2017': '12.12.2017',
  '13.01.2018': '13.01.2018',
  '13.02.2018': '13.02.2018',
  '13.03.2018': '13.03.2018',
  '13.04.2018': '13.04.2018',
  '13.05.2018': '13.05.2018',
  '13.09.2017': '13.09.2017',
  '13.10.2017': '13.10.2017',
  '13.11.2017': '13.11.2017',
  '13.12.2017': '13.12.2017',
  '14.01.2018': '14.01.2018',
  '14.02.2018': '14.02.2018',
  '14.03.2018': '14.03.2018',
  '14.04.2018': '14.04.2018',
  '14.05.2018': '14.05.2018',
  '14.09.2017': '14.09.2017',
  '14.10.2017': '14.10.2017',
  '14.11.2017': '14.11.2017',
  '14.12.2017': '14.12.2017',
  '15.01.2018': '15.01.2018',
  '15.02.2018': '15.02.2018',
  '15.03.2018': '15.03.2018',
  '15.04.2018': '15.04.2018',
  '15.05.2018': '15.05.2018',
  '15.09.2017': '15.09.2017',
  '15.10.2017': '15.10.2017',
  '15.11.2017': '15.11.2017',
  '15.12.2017': '15.12.2017',
  '16.01.2018': '16.01.2018',
  '16.02.2018': '16.02.2018',
  '16.03.2018': '16.03.2018',
  '16.04.2018': '16.04.2018',
  '16.05.2018': '16.05.2018',
  '16.09.2017': '16.09.2017',
  '16.10.2017': '16.10.2017',
  '16.11.2017': '16.11.2017',
  '16.12.2017': '16.12.2017',
  '17.01.2018': '17.01.2018',
  '17.02.2018': '17.02.2018',
  '17.03.2018': '17.03.2018',
  '17.04.2018': '17.04.2018',
  '17.05.2018': '17.05.2018',
  '17.09.2017': '17.09.2017',
  '17.10.2017': '17.10.2017',
  '17.11.2017': '17.11.2017',
  '17.12.2017': '17.12.2017',
  '18.01.2018': '18.01.2018',
  '18.02.2018': '18.02.2018',
  '18.03.2018': '18.03.2018',
  '18.04.2018': '18.04.2018',
  '18.05.2018': '18.05.2018',
  '18.09.2017': '18.09.2017',
  '18.10.2017': '18.10.2017',
  '18.11.2017': '18.11.2017',
  '18.12.2017': '18.12.2017',
  '19.01.2018': '19.01.2018',
  '19.02.2018': '19.02.2018',
  '19.03.2018': '19.03.2018',
  '19.04.2018': '19.04.2018',
  '19.05.2018': '19.05.2018',
  '19.09.2017': '19.09.2017',
  '19.10.2017': '19.10.2017',
  '19.11.2017': '19.11.2017',
  '19.12.2017': '19.12.2017',
  '20.01.2018': '20.01.2018',
  '20.02.2018': '20.02.2018',
  '20.03.2018': '20.03.2018',
  '20.04.2018': '20.04.2018',
  '20.05.2018': '20.05.2018',
  '20.09.2017': '20.09.2017',
  '20.10.2017': '20.10.2017',
  '20.11.2017': '20.11.2017',
  '20.12.2017': '20.12.2017',
  '21.01.2018': '21.01.2018',
  '21.02.2018': '21.02.2018',
  '21.03.2018': '21.03.2018',
  '21.04.2018': '21.04.2018',
  '21.05.2018': '21.05.2018',
  '21.09.2017': '21.09.2017',
  '21.10.2017': '21.10.2017',
  '21.11.2017': '21.11.2017',
  '21.12.2017': '21.12.2017',
  '22.01.2018': '22.01.2018',
  '22.02.2018': '22.02.2018',
  '22.03.2018': '22.03.2018',
  '22.04.2018': '22.04.2018',
  '22.05.2018': '22.05.2018',
  '22.09.2017': '22.09.2017',
  '22.10.2017': '22.10.2017',
  '22.11.2017': '22.11.2017',
  '22.12.2017': '22.12.2017',
  '23.01.2018': '23.01.2018',
  '23.02.2018': '23.02.2018',
  '23.03.2018': '23.03.2018',
  '23.04.2018': '23.04.2018',
  '23.05.2018': '23.05.2018',
  '23.09.2017': '23.09.2017',
  '23.10.2017': '23.10.2017',
  '23.11.2017': '23.11.2017',
  '23.12.2017': '23.12.2017',
  '24.01.2018': '24.01.2018',
  '24.02.2018': '24.02.2018',
  '24.03.2018': '24.03.2018',
  '24.04.2018': '24.04.2018',
  '24.05.2018': '24.05.2018',
  '24.09.2017': '24.09.2017',
  '24.10.2017': '24.10.2017',
  '24.11.2017': '24.11.2017',
  '24.12.2017': '24.12.2017',
  '25.01.2018': '25.01.2018',
  '25.02.2018': '25.02.2018',
  '25.03.2018': '25.03.2018',
  '25.04.2018': '25.04.2018',
  '25.05.2018': '25.05.2018',
  '25.09.2017': '25.09.2017',
  '25.10.2017': '25.10.2017',
  '25.11.2017': '25.11.2017',
  '25.12.2017': '25.12.2017',
  '26.01.2018': '26.01.2018',
  '26.02.2018': '26.02.2018',
  '26.03.2018': '26.03.2018',
  '26.04.2018': '26.04.2018',
  '26.05.2018': '26.05.2018',
  '26.09.2017': '26.09.2017',
  '26.10.2017': '26.10.2017',
  '26.11.2017': '26.11.2017',
  '26.12.2017': '26.12.2017',
  '27.01.2018': '27.01.2018',
  '27.02.2018': '27.02.2018',
  '27.03.2018': '27.03.2018',
  '27.04.2018': '27.04.2018',
  '27.05.2018': '27.05.2018',
  '27.09.2017': '27.09.2017',
  '27.10.2017': '27.10.2017',
  '27.11.2017': '27.11.2017',
  '27.12.2017': '27.12.2017',
  '28.01.2018': '28.01.2018',
  '28.02.2018': '28.02.2018',
  '28.03.2018': '28.03.2018',
  '28.04.2018': '28.04.2018',
  '28.05.2018': '28.05.2018',
  '28.09.2017': '28.09.2017',
  '28.10.2017': '28.10.2017',
  '28.11.2017': '28.11.2017',
  '28.12.2017': '28.12.2017',
  '29.01.2018': '29.01.2018',
  '29.03.2018': '29.03.2018',
  '29.04.2018': '29.04.2018',
  '29.05.2018': '29.05.2018',
  '29.09.2017': '29.09.2017',
  '29.10.2017': '29.10.2017',
  '29.11.2017': '29.11.2017',
  '29.12.2017': '29.12.2017',
  '30.01.2018': '30.01.2018',
  '30.03.2018': '30.03.2018',
  '30.04.2018': '30.04.2018',
  '30.05.2018': '30.05.2018',
  '30.09.2017': '30.09.2017',
  '30.10.2017': '30.10.2017',
  '30.11.2017': '30.11.2017',
  '30.12.2017': '30.12.2017',
  '31.01.2018': '31.01.2018',
  '31.03.2018': '31.03.2018',
  '31.05.2018': '31.05.2018',
  '31.10.2017': '31.10.2017',
  '31.12.2017': '31.12.2017',
  'pup': 'pup'},
 {'01.01.2018': ' ',
  '01.02.2018': ' ',
  '01.03.2018': ' ',
  '01.04.2018': ' ',
  '01.05.2018': ' ',
  '01.09.2017': ' ',
  '01.10.2017': ' ',
  '01.11.2017': ' ',
  '01.12.2017': ' ',
  '02.01.2018': ' ',
  '02.02.2018': ' ',
  '02.03.2018': ' ',
  '02.04.2018': ' ',
  '02.05.2018': ' ',
  '02.09.2017': ' ',
  '02.10.2017': ' ',
  '02.11.2017': ' ',
  '02.12.2017': ' ',
  '03.01.2018': ' ',
  '03.02.2018': ' ',
  '03.03.2018': ' ',
  '03.04.2018': ' ',
  '03.05.2018': ' ',
  '03.09.2017': ' ',
  '03.10.2017': ' ',
  '03.11.2017': ' ',
  '03.12.2017': ' ',
  '04.01.2018': ' ',
  '04.02.2018': ' ',
  '04.03.2018': ' ',
  '04.04.2018': ' ',
  '04.05.2018': ' ',
  '04.09.2017': ' ',
  '04.10.2017': ' ',
  '04.11.2017': ' ',
  '04.12.2017': ' ',
  '05.01.2018': ' ',
  '05.02.2018': ' ',
  '05.03.2018': ' ',
  '05.04.2018': ' ',
  '05.05.2018': ' ',
  '05.09.2017': ' ',
  '05.10.2017': ' ',
  '05.11.2017': ' ',
  '05.12.2017': ' ',
  '06.01.2018': ' ',
  '06.02.2018': ' ',
  '06.03.2018': ' ',
  '06.04.2018': ' ',
  '06.05.2018': ' ',
  '06.09.2017': ' ',
  '06.10.2017': ' ',
  '06.11.2017': ' ',
  '06.12.2017': ' ',
  '07.01.2018': ' ',
  '07.02.2018': ' ',
  '07.03.2018': ' ',
  '07.04.2018': ' ',
  '07.05.2018': ' ',
  '07.09.2017': ' ',
  '07.10.2017': ' ',
  '07.11.2017': ' ',
  '07.12.2017': ' ',
  '08.01.2018': ' ',
  '08.02.2018': ' ',
  '08.03.2018': ' ',
  '08.04.2018': ' ',
  '08.05.2018': ' ',
  '08.09.2017': ' ',
  '08.10.2017': ' ',
  '08.11.2017': ' ',
  '08.12.2017': ' ',
  '09.01.2018': ' ',
  '09.02.2018': ' ',
  '09.03.2018': ' ',
  '09.04.2018': ' ',
  '09.05.2018': ' ',
  '09.09.2017': ' ',
  '09.10.2017': ' ',
  '09.11.2017': ' ',
  '09.12.2017': ' ',
  '10.01.2018': ' ',
  '10.02.2018': ' ',
  '10.03.2018': ' ',
  '10.04.2018': ' ',
  '10.05.2018': ' ',
  '10.09.2017': ' ',
  '10.10.2017': ' ',
  '10.11.2017': ' ',
  '10.12.2017': ' ',
  '11.01.2018': ' ',
  '11.02.2018': ' ',
  '11.03.2018': ' ',
  '11.04.2018': ' ',
  '11.05.2018': ' ',
  '11.09.2017': ' ',
  '11.10.2017': ' ',
  '11.11.2017': ' ',
  '11.12.2017': ' ',
  '12.01.2018': ' ',
  '12.02.2018': ' ',
  '12.03.2018': ' ',
  '12.04.2018': ' ',
  '12.05.2018': ' ',
  '12.09.2017': ' ',
  '12.10.2017': ' ',
  '12.11.2017': ' ',
  '12.12.2017': ' ',
  '13.01.2018': ' ',
  '13.02.2018': ' ',
  '13.03.2018': ' ',
  '13.04.2018': ' ',
  '13.05.2018': ' ',
  '13.09.2017': ' ',
  '13.10.2017': ' ',
  '13.11.2017': ' ',
  '13.12.2017': ' ',
  '14.01.2018': ' ',
  '14.02.2018': ' ',
  '14.03.2018': ' ',
  '14.04.2018': ' ',
  '14.05.2018': ' ',
  '14.09.2017': ' ',
  '14.10.2017': ' ',
  '14.11.2017': ' ',
  '14.12.2017': ' ',
  '15.01.2018': ' ',
  '15.02.2018': ' ',
  '15.03.2018': ' ',
  '15.04.2018': ' ',
  '15.05.2018': ' ',
  '15.09.2017': ' ',
  '15.10.2017': ' ',
  '15.11.2017': ' ',
  '15.12.2017': ' ',
  '16.01.2018': ' ',
  '16.02.2018': ' ',
  '16.03.2018': ' ',
  '16.04.2018': ' ',
  '16.05.2018': ' ',
  '16.09.2017': ' ',
  '16.10.2017': ' ',
  '16.11.2017': ' ',
  '16.12.2017': ' ',
  '17.01.2018': ' ',
  '17.02.2018': ' ',
  '17.03.2018': ' ',
  '17.04.2018': ' ',
  '17.05.2018': ' ',
  '17.09.2017': ' ',
  '17.10.2017': ' ',
  '17.11.2017': ' ',
  '17.12.2017': ' ',
  '18.01.2018': ' ',
  '18.02.2018': ' ',
  '18.03.2018': ' ',
  '18.04.2018': ' ',
  '18.05.2018': ' ',
  '18.09.2017': ' ',
  '18.10.2017': ' ',
  '18.11.2017': ' ',
  '18.12.2017': ' ',
  '19.01.2018': ' ',
  '19.02.2018': ' ',
  '19.03.2018': ' ',
  '19.04.2018': ' ',
  '19.05.2018': ' ',
  '19.09.2017': ' ',
  '19.10.2017': ' ',
  '19.11.2017': ' ',
  '19.12.2017': ' ',
  '20.01.2018': ' ',
  '20.02.2018': ' ',
  '20.03.2018': ' ',
  '20.04.2018': ' ',
  '20.05.2018': ' ',
  '20.09.2017': ' ',
  '20.10.2017': ' ',
  '20.11.2017': ' ',
  '20.12.2017': ' ',
  '21.01.2018': ' ',
  '21.02.2018': ' ',
  '21.03.2018': ' ',
  '21.04.2018': ' ',
  '21.05.2018': ' ',
  '21.09.2017': ' ',
  '21.10.2017': ' ',
  '21.11.2017': ' ',
  '21.12.2017': ' ',
  '22.01.2018': ' ',
  '22.02.2018': ' ',
  '22.03.2018': ' ',
  '22.04.2018': ' ',
  '22.05.2018': ' ',
  '22.09.2017': ' ',
  '22.10.2017': ' ',
  '22.11.2017': ' ',
  '22.12.2017': ' ',
  '23.01.2018': ' ',
  '23.02.2018': ' ',
  '23.03.2018': ' ',
  '23.04.2018': ' ',
  '23.05.2018': ' ',
  '23.09.2017': ' ',
  '23.10.2017': ' ',
  '23.11.2017': ' ',
  '23.12.2017': ' ',
  '24.01.2018': ' ',
  '24.02.2018': ' ',
  '24.03.2018': ' ',
  '24.04.2018': ' ',
  '24.05.2018': ' ',
  '24.09.2017': ' ',
  '24.10.2017': ' ',
  '24.11.2017': ' ',
  '24.12.2017': ' ',
  '25.01.2018': ' ',
  '25.02.2018': ' ',
  '25.03.2018': ' ',
  '25.04.2018': ' ',
  '25.05.2018': ' ',
  '25.09.2017': ' ',
  '25.10.2017': ' ',
  '25.11.2017': ' ',
  '25.12.2017': ' ',
  '26.01.2018': ' ',
  '26.02.2018': ' ',
  '26.03.2018': ' ',
  '26.04.2018': ' ',
  '26.05.2018': ' ',
  '26.09.2017': ' ',
  '26.10.2017': ' ',
  '26.11.2017': ' ',
  '26.12.2017': ' ',
  '27.01.2018': ' ',
  '27.02.2018': ' ',
  '27.03.2018': ' ',
  '27.04.2018': ' ',
  '27.05.2018': ' ',
  '27.09.2017': ' ',
  '27.10.2017': ' ',
  '27.11.2017': ' ',
  '27.12.2017': ' ',
  '28.01.2018': ' ',
  '28.02.2018': ' ',
  '28.03.2018': ' ',
  '28.04.2018': ' ',
  '28.05.2018': ' ',
  '28.09.2017': ' ',
  '28.10.2017': ' ',
  '28.11.2017': ' ',
  '28.12.2017': ' ',
  '29.01.2018': ' ',
  '29.03.2018': ' ',
  '29.04.2018': ' ',
  '29.05.2018': ' ',
  '29.09.2017': ' ',
  '29.10.2017': ' ',
  '29.11.2017': ' ',
  '29.12.2017': ' ',
  '30.01.2018': ' ',
  '30.03.2018': ' ',
  '30.04.2018': ' ',
  '30.05.2018': ' ',
  '30.09.2017': ' ',
  '30.10.2017': ' ',
  '30.11.2017': ' ',
  '30.12.2017': ' ',
  '31.01.2018': ' ',
  '31.03.2018': ' ',
  '31.05.2018': ' ',
  '31.10.2017': ' ',
  '31.12.2017': ' ',
  'pup': 'Мамонтов Александр'},
 {'01.01.2018': ' ',
  '01.02.2018': ' ',
  '01.03.2018': ' ',
  '01.04.2018': ' ',
  '01.05.2018': ' ',
  '01.09.2017': ' ',
  '01.10.2017': ' ',
  '01.11.2017': ' ',
  '01.12.2017': ' ',
  '02.01.2018': ' ',
  '02.02.2018': ' ',
  '02.03.2018': ' ',
  '02.04.2018': ' ',
  '02.05.2018': ' ',
  '02.09.2017': ' ',
  '02.10.2017': ' ',
  '02.11.2017': ' ',
  '02.12.2017': ' ',
  '03.01.2018': ' ',
  '03.02.2018': ' ',
  '03.03.2018': ' ',
  '03.04.2018': ' ',
  '03.05.2018': ' ',
  '03.09.2017': ' ',
  '03.10.2017': ' ',
  '03.11.2017': ' ',
  '03.12.2017': ' ',
  '04.01.2018': ' ',
  '04.02.2018': ' ',
  '04.03.2018': ' ',
  '04.04.2018': ' ',
  '04.05.2018': ' ',
  '04.09.2017': ' ',
  '04.10.2017': ' ',
  '04.11.2017': ' ',
  '04.12.2017': ' ',
  '05.01.2018': ' ',
  '05.02.2018': ' ',
  '05.03.2018': ' ',
  '05.04.2018': ' ',
  '05.05.2018': ' ',
  '05.09.2017': ' ',
  '05.10.2017': ' ',
  '05.11.2017': ' ',
  '05.12.2017': ' ',
  '06.01.2018': ' ',
  '06.02.2018': ' ',
  '06.03.2018': ' ',
  '06.04.2018': ' ',
  '06.05.2018': ' ',
  '06.09.2017': ' ',
  '06.10.2017': ' ',
  '06.11.2017': ' ',
  '06.12.2017': ' ',
  '07.01.2018': ' ',
  '07.02.2018': ' ',
  '07.03.2018': ' ',
  '07.04.2018': ' ',
  '07.05.2018': ' ',
  '07.09.2017': ' ',
  '07.10.2017': ' ',
  '07.11.2017': ' ',
  '07.12.2017': ' ',
  '08.01.2018': ' ',
  '08.02.2018': ' ',
  '08.03.2018': ' ',
  '08.04.2018': ' ',
  '08.05.2018': ' ',
  '08.09.2017': ' ',
  '08.10.2017': ' ',
  '08.11.2017': ' ',
  '08.12.2017': ' ',
  '09.01.2018': ' ',
  '09.02.2018': ' ',
  '09.03.2018': ' ',
  '09.04.2018': ' ',
  '09.05.2018': ' ',
  '09.09.2017': ' ',
  '09.10.2017': ' ',
  '09.11.2017': ' ',
  '09.12.2017': ' ',
  '10.01.2018': ' ',
  '10.02.2018': ' ',
  '10.03.2018': ' ',
  '10.04.2018': ' ',
  '10.05.2018': ' ',
  '10.09.2017': ' ',
  '10.10.2017': ' ',
  '10.11.2017': ' ',
  '10.12.2017': ' ',
  '11.01.2018': ' ',
  '11.02.2018': ' ',
  '11.03.2018': ' ',
  '11.04.2018': ' ',
  '11.05.2018': ' ',
  '11.09.2017': ' ',
  '11.10.2017': ' ',
  '11.11.2017': ' ',
  '11.12.2017': ' ',
  '12.01.2018': ' ',
  '12.02.2018': ' ',
  '12.03.2018': ' ',
  '12.04.2018': ' ',
  '12.05.2018': ' ',
  '12.09.2017': ' ',
  '12.10.2017': ' ',
  '12.11.2017': ' ',
  '12.12.2017': ' ',
  '13.01.2018': ' ',
  '13.02.2018': ' ',
  '13.03.2018': ' ',
  '13.04.2018': ' ',
  '13.05.2018': ' ',
  '13.09.2017': ' ',
  '13.10.2017': ' ',
  '13.11.2017': ' ',
  '13.12.2017': ' ',
  '14.01.2018': ' ',
  '14.02.2018': ' ',
  '14.03.2018': ' ',
  '14.04.2018': ' ',
  '14.05.2018': ' ',
  '14.09.2017': ' ',
  '14.10.2017': ' ',
  '14.11.2017': ' ',
  '14.12.2017': ' ',
  '15.01.2018': ' ',
  '15.02.2018': ' ',
  '15.03.2018': ' ',
  '15.04.2018': ' ',
  '15.05.2018': ' ',
  '15.09.2017': ' ',
  '15.10.2017': ' ',
  '15.11.2017': ' ',
  '15.12.2017': ' ',
  '16.01.2018': ' ',
  '16.02.2018': ' ',
  '16.03.2018': ' ',
  '16.04.2018': ' ',
  '16.05.2018': ' ',
  '16.09.2017': ' ',
  '16.10.2017': ' ',
  '16.11.2017': ' ',
  '16.12.2017': ' ',
  '17.01.2018': ' ',
  '17.02.2018': ' ',
  '17.03.2018': ' ',
  '17.04.2018': ' ',
  '17.05.2018': ' ',
  '17.09.2017': ' ',
  '17.10.2017': ' ',
  '17.11.2017': ' ',
  '17.12.2017': ' ',
  '18.01.2018': ' ',
  '18.02.2018': ' ',
  '18.03.2018': ' ',
  '18.04.2018': ' ',
  '18.05.2018': ' ',
  '18.09.2017': ' ',
  '18.10.2017': ' ',
  '18.11.2017': ' ',
  '18.12.2017': ' ',
  '19.01.2018': ' ',
  '19.02.2018': ' ',
  '19.03.2018': ' ',
  '19.04.2018': ' ',
  '19.05.2018': ' ',
  '19.09.2017': ' ',
  '19.10.2017': ' ',
  '19.11.2017': ' ',
  '19.12.2017': ' ',
  '20.01.2018': ' ',
  '20.02.2018': ' ',
  '20.03.2018': ' ',
  '20.04.2018': ' ',
  '20.05.2018': ' ',
  '20.09.2017': ' ',
  '20.10.2017': ' ',
  '20.11.2017': ' ',
  '20.12.2017': ' ',
  '21.01.2018': ' ',
  '21.02.2018': ' ',
  '21.03.2018': ' ',
  '21.04.2018': ' ',
  '21.05.2018': ' ',
  '21.09.2017': ' ',
  '21.10.2017': ' ',
  '21.11.2017': ' ',
  '21.12.2017': ' ',
  '22.01.2018': ' ',
  '22.02.2018': ' ',
  '22.03.2018': ' ',
  '22.04.2018': ' ',
  '22.05.2018': ' ',
  '22.09.2017': ' ',
  '22.10.2017': ' ',
  '22.11.2017': ' ',
  '22.12.2017': ' ',
  '23.01.2018': ' ',
  '23.02.2018': ' ',
  '23.03.2018': ' ',
  '23.04.2018': ' ',
  '23.05.2018': ' ',
  '23.09.2017': ' ',
  '23.10.2017': ' ',
  '23.11.2017': ' ',
  '23.12.2017': ' ',
  '24.01.2018': ' ',
  '24.02.2018': ' ',
  '24.03.2018': ' ',
  '24.04.2018': ' ',
  '24.05.2018': ' ',
  '24.09.2017': ' ',
  '24.10.2017': ' ',
  '24.11.2017': ' ',
  '24.12.2017': ' ',
  '25.01.2018': ' ',
  '25.02.2018': ' ',
  '25.03.2018': ' ',
  '25.04.2018': ' ',
  '25.05.2018': ' ',
  '25.09.2017': ' ',
  '25.10.2017': ' ',
  '25.11.2017': ' ',
  '25.12.2017': ' ',
  '26.01.2018': ' ',
  '26.02.2018': ' ',
  '26.03.2018': ' ',
  '26.04.2018': ' ',
  '26.05.2018': ' ',
  '26.09.2017': ' ',
  '26.10.2017': ' ',
  '26.11.2017': ' ',
  '26.12.2017': ' ',
  '27.01.2018': ' ',
  '27.02.2018': ' ',
  '27.03.2018': ' ',
  '27.04.2018': ' ',
  '27.05.2018': ' ',
  '27.09.2017': ' ',
  '27.10.2017': ' ',
  '27.11.2017': ' ',
  '27.12.2017': ' ',
  '28.01.2018': ' ',
  '28.02.2018': ' ',
  '28.03.2018': ' ',
  '28.04.2018': ' ',
  '28.05.2018': ' ',
  '28.09.2017': ' ',
  '28.10.2017': ' ',
  '28.11.2017': ' ',
  '28.12.2017': ' ',
  '29.01.2018': ' ',
  '29.03.2018': ' ',
  '29.04.2018': ' ',
  '29.05.2018': ' ',
  '29.09.2017': ' ',
  '29.10.2017': ' ',
  '29.11.2017': ' ',
  '29.12.2017': ' ',
  '30.01.2018': ' ',
  '30.03.2018': ' ',
  '30.04.2018': ' ',
  '30.05.2018': ' ',
  '30.09.2017': ' ',
  '30.10.2017': ' ',
  '30.11.2017': ' ',
  '30.12.2017': ' ',
  '31.01.2018': ' ',
  '31.03.2018': ' ',
  '31.05.2018': ' ',
  '31.10.2017': ' ',
  '31.12.2017': ' ',
  'pup': 'Виктория Буняева'}]

In [201]:
f = open('hierarchy.json','r')
s = f.read()
u = json.loads(s)

In [20]:
f = open('database.json','r')
s = f.read()

In [22]:
df = pd.DataFrame([],columns=['1','2'])

In [24]:
df.to_dict('records')

[]

In [203]:
u[0]['teachers']

[{'classes': [{'name': '7а', 'subject': 'Русский язык'},
   {'name': '7а', 'subject': 'Математика'},
   {'name': '7б', 'subject': 'Русский язык'},
   {'name': '7б', 'subject': 'Математика'},
   {'name': '7а', 'subject': 'Литература'}],
  'login': 'marie',
  'name': 'РњР°СЂРёСЏ РќРёРєРѕР»Р°РµРІР°'}]

In [204]:
import os
pyt = u'app\\static\\school\\'+school+'\\'+cl+'\\'

In [205]:
names = os.listdir(pyt)

In [206]:
names

['Русский язык.csv']

In [244]:
names[0][:len(names[0])-4:]

'Русский язык'

In [254]:
pupil = u'Мамонтов Александр'

In [255]:
dfpup = pd.read_csv('example.csv')

In [256]:
s = dfpup.columns
dfpup.loc[len(dfpup)] = s

In [257]:
for sub in names:
    temp = pd.read_csv(pyt+sub)
    row = temp[temp['pup']==pupil]
    row.iloc[0]['pup'] = sub[:len(sub)-4:]
    dfpup = pd.concat([dfpup,row])

In [258]:
dfpup

,pup,01.09.2017,02.09.2017,03.09.2017,04.09.2017,05.09.2017,06.09.2017,07.09.2017,08.09.2017,09.09.2017,...,22.05.2018,23.05.2018,24.05.2018,25.05.2018,26.05.2018,27.05.2018,28.05.2018,29.05.2018,30.05.2018,31.05.2018
0,pup,01.09.2017,02.09.2017,03.09.2017,04.09.2017,05.09.2017,06.09.2017,07.09.2017,08.09.2017,09.09.2017,...,22.05.2018,23.05.2018,24.05.2018,25.05.2018,26.05.2018,27.05.2018,28.05.2018,29.05.2018,30.05.2018,31.05.2018
1,Русский язык,5$com$Бегал по потолку,qrq.com.qwrqwr,eg.com.sdgsg,sh.com.sdh,123.com.123,asfasf.com.asfasfas,avgq.com.qwgqw,svbsb.com.sdbsdb,sbsdbs.com.sdbsdb,...,,,,,,,,,,